<h4 class="fw-semibold py-3 mb-4"> Danh sách khách hàng đã nhận voucher:
    [(${voucher.getNameVoucher()})]</h4>
<div class="row justify-content-end me-4">
<!--    <form th:action="@{/admin/voucherCustomer/add}" method="post" th:object="${voucherCustomer}">-->
<!--        <div class="row justify-content-end me-4">-->
<!--            <button type="button" class="btn btn-success mb-4 w-auto"-->
<!--                    data-bs-toggle="modal" data-bs-target="#largeModal">-->
<!--                <i class='tf-icon bx bx-plus-medical'></i> Add VoucherCustomer-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="mb-4">-->
<!--            <div class="modal fade" th:id="largeModal" tabindex="-1"-->
<!--                 aria-hidden="true">-->
<!--                <div class="modal-dialog modal-xl" role="document">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title">Thông tin VoucherCustomer</h5>-->
<!--                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->
<!--                            <div class="row">-->
<!--                                <div class="row col-lg-12 col-xl-9">-->
<!--                                    <div class="col-xl-4 col-lg-6 col-md-6">-->
<!--                                        <div class="mb-3">-->
<!--                                            <label class="form-label">Customer:</label>-->
<!--                                            <br>-->
<!--                                            <select th:name="customer" class="form-select"-->
<!--                                                    aria-label="Default select example">-->
<!--                                                <option th:each="i:${session.listCustomer}" th:value="${i.id}"-->
<!--                                                        th:text="${i.name}"></option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                        <div class="mb-3">-->
<!--                                            <label class="form-label">Voucher:</label>-->
<!--                                            <br>-->
<!--                                            <select th:name="voucher" class="form-select"-->
<!--                                                    aria-label="Default select example">-->
<!--                                                <option th:each="v:${session.listVoucher}" th:value="${v.id}"-->
<!--                                                        th:text="${v.code}"></option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;                                    <div class="col-xl-4 col-lg-6 col-md-6">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        <div class="mb-3">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                            <label class="form-label">Start Day:</label>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                            <input type="date" class="form-control" th:name="dateStart"&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                                   name="date_start">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        <div class="mb-3">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                            <label class="form-label">End Day:</label>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                            <input type="date" class="form-control" th:name="dateEnd">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                    <div class="col-xl-4 col-lg-6 col-md-6">-->
<!--                                        <div class="mb-3">-->
<!--                                            <label class="form-label">Active:</label>-->
<!--                                            <br>-->
<!--                                            <div class="form-check form-check-inline">-->
<!--                                                <input class="form-check-input" type="radio" th:name="active"-->
<!--                                                       th:value="true" checked>-->
<!--                                                <label class="form-check-label">Acitve</label>-->
<!--                                            </div>-->
<!--                                            <div class="form-check form-check-inline">-->
<!--                                                <input class="form-check-input" type="radio" th:name="active"-->
<!--                                                       th:value="false">-->
<!--                                                <label class="form-check-label">Non-active</label>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Reset-->
<!--                            </button>-->
<!--                            <button type="submit" class="btn btn-primary">Save changes</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
</div>
<div class="card mb-3 ">
    <div class="card-header">
        <form class="col-12 mt-2">
            <div class="col-12 row">
                <div class="col-7">
                    <div class="form-check input-group input-group-merge">
                    <span class="input-group-text">
                        <i class="bx bx-search"></i>
                    </span>
                        <input type="text" class="form-control" th:name="keyword" th:value="${param.keyword}" placeholder="Tìm theo tên, email, sđt">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row">
            <div>
                <p>Số lượng:
                                        <span th:text="${listVoucherCustomer.size()}"></span>
                </p>
            </div>
        </div>
        <hr>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Tên khách hàng</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Tên voucher</th>
                    <!--                    <th>Date Start</th>-->
                    <!--                    <th>Date End</th>-->
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr th:each="voucherCustomer : ${listVoucherCustomer}">
                    <td th:text="${voucherCustomer.customer.name}"></td>
                    <td th:text="${voucherCustomer.customer.email}"></td>
                    <td th:text="${voucherCustomer.customer.phoneNumber}"></td>
                    <td th:text="${voucherCustomer.voucher.nameVoucher}"></td>
                    <td th:text="${voucherCustomer.active == true ? 'Hoạt động':'Không hoạt động'}">
                    </td>
                    <td>

                        <button type="button" class="btn btn-icon btn-primary" data-bs-toggle="modal"
                                th:data-bs-target="|#modal${voucherCustomer.id}">
                            <i class="bx bxs-edit-alt"></i>
                        </button>
                        <div class="modal fade" th:id="|modal${voucherCustomer.id}|" tabindex="-1"
                             aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Thông tin voucher</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/vouchercustomer/update/{id}(id=${voucherCustomer.id})}"
                                              method="post" th:object="${voucherCustomer}">
                                            <div class="row">
                                                <div class="row col-lg-12 col-xl-9">
                                                    <div class="">
                                                        <div class="">
                                                            <label class="form-label">Customer:</label>
                                                            <br>
                                                            <select th:name="customer" class="form-select"
                                                                    aria-label="Default select example">
                                                                <option th:each="i:${session.listCustomer}"
                                                                        th:value="${i.id}"
                                                                        th:text="${i.name}"
                                                                        th:selected="${voucherCustomer.customer.id==i.id}"
                                                                ></option>
                                                            </select>
                                                        </div>
                                                        <div >
                                                            <label class="form-label">Voucher:</label>
                                                            <br>
                                                            <select th:name="voucher" class="form-select"
                                                                    aria-label="Default select example">
                                                                <option th:each="v:${session.listVoucher}"
                                                                        th:value="${v.id}"
                                                                        th:text="${v.code}"
                                                                        th:selected="${voucherCustomer.voucher.id==v.id}"
                                                                ></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div >
                                                    <div>
                                                        <label class="form-label">Active:</label>
                                                        <br>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input"
                                                                   type="radio"
                                                                   th:id="|active${voucherCustomer.id}|"
                                                                   th:name="active"
                                                                   th:value="true"
                                                                   th:checked="${voucherCustomer.active==true}">
                                                            <label class="form-check-label"
                                                                   th:for="|active${voucherCustomer.id}|">Acitve</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input"
                                                                   type="radio"
                                                                   th:id="|active${voucherCustomer.id}|"
                                                                   th:name="active"
                                                                   th:value="false"
                                                                   th:checked="${voucherCustomer.active==false}">
                                                            <label class="form-check-label"
                                                                   th:for="|active${voucherCustomer.id}|">Non-active</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Update</button>

                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <a th:href="@{/admin/vouchercustomer/delete/{id}(id=${voucherCustomer.id})}"
                           onclick="return confirm('Xác nhận xóa')">
                            <button type="button" class="btn btn-icon btn-danger">
                                <span class="bx bxs-trash"></span>
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
        <hr class="card-separator">
    </div>
    <div class="card-footer">
        <div class="d-inline-flex float-end">

        </div>
    </div>
</div>