<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/admin/plugin/css/invoice_detail.css">
<div class="page-header">
    <div class="row">
        <h4 class="fw-bold py-3 mb-4 col-5">Bill details</h4>
        <div class="col-7 text-end">
            <button type="button" class="btn btn-primary col-3" onclick="window.history.back()">
                <span class="tf-icons bx bx-arrow-back mx-1"></span>Go back
            </button>
            <button type="button" class="btn btn-danger col-3">
                <span class="tf-icons bx bx-printer mx-1"></span>Print bill
            </button>
        </div>
    </div>
</div>


<div class="row">
    <!--    sản phẩm, phiếu giao-->
    <input th:value="${billDetail.id}" style="display: none" id="idBill">
    <div class="col-lg-8 col-md-8 order-0">
        <div class="row">
            <!--            Sản phẩm-->
            <form th:action="@{/admin/bill/bill_detail}" method="post" th:object="${billDetail}">
                <div class="card">
                    <div class="card-body">
                        <span class="card-title mt-3 text-danger">
                             <b>Mã đơn:</b> <i>[(*{code})]</i> <b>|</b><i
                                th:text="|${#lists.size(billDetail.billProducts)} sản phẩm|"></i>
                        </span>
                        <div class="row select-order mb-3" th:each="billProduct: *{billProducts}">
                            <hr>
                            <div class="col-4 col-md-5 col-xl-4">
                                <img th:each="image:${billProduct.product.listImage}"
                                     th:if="${image.location == true }"
                                     th:src="@{'/image/product/'+ ${ image.link}}" src=""
                                     class="w-px-200" alt="Lỗi hiển thị">
                            </div>
                            <div class="col-8 col-md-7 col-xl-8">
                                <div class="col-12 mb-4 fs-4"><p><b>Tên sản phẩm:</b>
                                    <span class="text-decoration-none">[(${billProduct.product.product.nameProduct})]</span>
                                </p></div>
                                <div class="row mb-4">
                                    <span class="col-8 text-left"><b>Số lượng:</b></span>
                                    <span class="col-4 text-end"> [(${billProduct.quantity})]</span>
                                </div>
                                <div class="row mb-4">
                                    <span class="col-7 text-start"><b>Giá sản phẩm x[(${billProduct.quantity})]:</b></span>
                                    <span class="col-5 text-end"> [(${#numbers.formatDecimal(billProduct.quantity * billProduct.price, 0,'COMMA',0,'POINT')})]<u>đ</u></span>
                                </div>
                                <div class="row mb-4">
                                    <span class="col-7 text-start"><b>Giá khuyến mãi:</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--          Phiếu giao-->
            <div class="nav-align-top mb-4 mt-3">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                                data-bs-target="#navs-top-info-customer" aria-controls="navs-top-home"
                                aria-selected="true">
                            Thông tin khách hàng
                        </button>
                    </li>
                </ul>
                <div class="tab-content" style="z-index: initial">
                    <div class="tab-pane fade active show" id="navs-top-info-customer" role="tabpanel">
                        <!--                     thông tin khách hàng-->
                        <form th:action="@{/admin/bill/bill_detail/delivery_note}" id="formUpdateDeliveryNotes">
                            <div class="row">
                                <h4 class="fw-bold text-start col-6 col-md-6">Đơn từ web</h4>
                                <div class="col-6 col-md-6 text-end">
                                    <button class="btn btn-outline-dark" type="button" id="btnEdit"
                                            name="editInfo">Chỉnh sửa
                                    </button>
                                    <button class="btn btn-outline-dark" type="button" id="btnSave"
                                            th:value="${deliveryNote?.id}"
                                            name="editInfo">Lưu
                                    </button>
                                    <button class="btn btn-outline-dark" type="reset" id="btnCancel"
                                            name="editInfo">Reset
                                    </button>

                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive text-wrap">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td><strong>Tên khách hàng:</strong>
                                        </td>
                                        <td>
                                            <p id="nameText" th:text="${deliveryNote?.received}"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>SĐT khách hàng:</strong>
                                        </td>
                                        <td>
                                            <p id="phoneText" th:text="${deliveryNote?.receiverPhone}"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Email:</strong>
                                        </td>
                                        <td>
                                            <p id="emailCustomerText" th:text="${deliveryNote?.receivedEmail}"></p></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Tên người nhận:</strong>
                                        </td>
                                        <td class="input-group">
                                            <input class="form-check form-control " type="text"
                                                   th:value="${deliveryNote?.deliver}" name="deliver"
                                                   id="deliver" disabled="true">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>SĐT người nhận:</strong>
                                        </td>
                                        <td class="input-group">
                                            <input class="form-check form-control " type="text"
                                                   th:value="${deliveryNote?.deliveryPhone}" name="deliveryPhone"
                                                   id="deliveryPhone" disabled="true">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Địa chỉ người nhận:</strong>
                                        </td>
                                        <td class="input-group">
                                            <input class="form-control" type="text"
                                                   th:value="${deliveryNote?.receivingAddress}" name="receivingAddress"
                                                   id="receivingAddress" disabled="true">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><strong>Phí giao hàng:</strong>
                                        </td>
                                        <td class="input-group">
                                            <input class="form-check form-control " type="number"
                                                   th:value="${#numbers.formatInteger(deliveryNote?.deliveryFee,1)}"
                                                   name="deliveryFee"
                                                   id="deliveryFee" disabled="true">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Ghi chú:</strong>
                                        </td>
                                        <td class="input-group"><input class="form-check form-control " type="text"
                                                                       th:value="${deliveryNote?.note}" name="note"
                                                                       id="note" disabled="true">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Trạng thái đơn hàng, thanh toán-->
    <div class="col-lg-4 col-md-4 mb-4 order-1">
        <form th:action="@{/admin/bill/bill_detail}" id="formUpdateStatus">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="form-label"> Trạng thái đơn hàng</div>
                    <div class="list-group list-group-flush">
                        <input th:value="${billDetail.billStatus.code}" id="codeStatus" style="display: none">
                        <select class="form-select list-group list-group-flush select2" id="billStatus" name="status">
                            <option th:each="bs :${billStatus}" th:value="${bs.code}" th:id="${bs.code}"
                                    th:selected="${bs.code==billDetail.billStatus.code}"
                                    th:text="${bs.status}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <input th:value="${billDetail.paymentStatus}" id="payment" style="display: none">
                    <div class="form-label"> Trạng thái thanh toán</div>
                    <div class="list-group list-group-flush">
                        <select class="form-select list-group list-group-flush select2"
                                th:field="${billDetail.paymentStatus}"
                                id="paymentStatus" name="paymentStatus">
                            <option value="1">Đã thanh toán</option>
                            <option value="2">Chưa thanh toán</option>
                            <option value="3">Đã hoàn tiền</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="d-flex align-items-end row">
                <form th:action="@{/admin/bill/bill_detail/update_status/{id}(id=${billDetail.id})}" method="post"
                      id="updatePay">
                    <div class="card-body">
                    <span class="card-title mt-3 mb-3">
                         <b>Tổng tiền</b>
                    </span>
                        <div class="mb-3 row">
                            <hr>
                            <div class="mb-2">
                                <div class="row">
                                    <label class="col-5 col-md-5"><b class="text-start">Tổng gốc:</b></label>
                                    <span class="text-end col-7 col-md-7">[(${#numbers.formatDecimal(totalPrice,0,'COMMA',0,'POINT')})]<u>đ</u></span>
                                </div>
                                <small class="col-12 col-md-12"
                                       th:text="|(${#lists.size(billDetail.billProducts)} sản phẩm)|"></small>
                            </div>
                            <div class="mb-2">
                                <div class="row">
                                    <label class="col-6 col-md-6"><b class="text-start">Giảm giá:</b></label>
                                    <span class="text-end col-6 col-md-6">[(${#numbers.formatDecimal(totalReduceMoney,0,'COMMA',0,'POINT')})]<u>đ</u></span>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="row">
                                    <label class="col-6 col-md-6"><b class="text-start">Voucher:</b></label>
                                    <span class="text-end col-6 col-md-6">[(${billDetail?.voucher?.value != null ?  billDetail.voucher.value :'0'})]<u>đ</u></span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mt-2 mb-2">
                            <div class="row">
                                <label class="col-6 col-md-6"><b class="text-start">Tổng sau giảm:</b></label>
                                <span class="text-end col-6 col-md-6">[(${#numbers.formatDecimal(totalAfter,0,'COMMA',0,'POINT')})]<u>đ</u></span>
                            </div>
                        </div>
                        <div class="mt-2 mb-2">
                            <label class="form-label"><b class="text-start">Ghi chú:</b></label>
                            <textarea class="form-control" th:value="${billDetail.note}" disabled></textarea>
                        </div>
                        <div class="col-md">
                            <div class="form-check mt-3" th:each="pm : ${paymentMethod}">
                                <input class="form-check-input" type="radio" name="paymentMethod"
                                       th:checked="${billDetail.paymentMethod.id==pm.id}"
                                       th:id="${pm.id}"
                                       th:value="${pm.id}" th:name="paymentMethod">
                                <label class="form-check-label" th:for="${pm.id}" th:text="${pm.paymentMethod}"></label>
                            </div>
                            <!--                            <div class="form-check mt-3">-->
                            <!--                                <input class="form-check-input" type="radio" name="paymentMethod" th:field="${billDetail.paymentMethod.code}"-->
                            <!--                                       id="inlineRadio2"-->
                            <!--                                       value="VNP">-->
                            <!--                                <label class="form-check-label" for="inlineRadio2">Chuyển khoản Vnpay</label>-->
                            <!--                            </div>-->
                        </div>
                        <div class="col-12 text-center" th:if="${billDetail.paymentStatus==2}">
                            <button class="btn btn-warning mt-4" id="pay" type="submit" value="1" name="paymentStatus">
                                Thanh toán
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/admin/plugin/js/invoice_detail.js"></script>
</html>