<link rel="stylesheet" href="/admin/plugin/css/card-product.css">
<section>
    <img class="d-block w-100" src="/image/camera-360-do-01.jpg">
</section>
<div class="container-xl">
    <section class=" mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1">
                <li class="breadcrumb-item">
                    <a href="/client">Trang chủ</a>
                </li>
                <li class="breadcrumb-item active">Phụ kiện</li>
            </ol>
        </nav>
        <!--    <div class="card mt-2">-->
        <!--        <div class="card-body">-->
        <!--            <div class="d-inline">-->
        <!--                <span class="mb-2">Lọc danh sách:</span>-->
        <!--            </div>-->

        <!--            <div class="btn-group d-inline mx-3">-->
        <!--                <button type="button" class="btn btn-outline-secondary dropdown-toggle w-auto mb-2"-->
        <!--                        data-bs-toggle="dropdown"-->
        <!--                        data-bs-auto-close="outside"-->
        <!--                        aria-haspopup="true" aria-expanded="true">-->
        <!--                    Loại-->
        <!--                </button>-->
        <!--                <div class="dropdown-menu w-px-500 h-auto" style="overflow-x: hidden; max-height: 300px">-->
        <!--                    <div class="pt-2 px-4 justify-content-between">-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="d-flex">-->
        <!--                        <button class="btn btn-outline-secondary ms-auto mx-5 mb-2 w-auto">Tìm</button>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
        <!--            </div>-->
        <!--            <div class="btn-group mx-3 d-inline">-->
        <!--                <button type="button" class="btn btn-outline-secondary dropdown-toggle w-auto mb-2"-->
        <!--                        data-bs-toggle="dropdown"-->
        <!--                        data-bs-auto-close="outside"-->
        <!--                        aria-haspopup="true" aria-expanded="true">-->
        <!--                    Giá-->
        <!--                </button>-->
        <!--                <div class="dropdown-menu w-px-500 h-auto" style="overflow-x: hidden; max-height: 300px">-->
        <!--                    <div class="pt-2 px-4 justify-content-between">-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="d-inline mx-3 ">-->
        <!--                            <div class="form-check form-check-inline w-auto pb-2">-->
        <!--                                <input type="checkbox" class="form-check-input">-->
        <!--                                <label class="form-check-label"> 90inch </label>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                    <div class="d-flex">-->
        <!--                        <button class="btn btn-outline-secondary ms-auto mx-5 mb-2 w-auto">Tìm</button>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
        <!--            </div>-->
        <!--            <div class="mb-3 px-4 d-inline">-->
        <!--                <div class="d-inline">-->
        <!--                    Xếp theo:-->
        <!--                </div>-->
        <!--                <select class="form-select w-auto d-inline mx-3">-->
        <!--                    <option>Mặc định</option>-->
        <!--                    <option>Giá</option>-->
        <!--                </select>-->
        <!--                <div class="d-inline">-->
        <!--                    (100 Sản phẩm)-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <div class="row row-cols-1 row-cols-md-5 row-cols-sm-2 g-4">
            <div class="col" th:each="phuKien,Stat:${listPhuKien}">
                <div class="card h-100 item-product">
                    <div class="card-body mb-4 mt-3">
                        <img class="img-fluid d-flex mx-auto my-4"
                             th:src="|/image/product/${phuKien.image}|"
                             alt="Hình ảnh bị lỗi"/>
                        <a th:href="@{'/product/detail/'+${phuKien.id}}"
                           class="stretched-link mb-2 text-black">
                                            <span class="fs-5  card-title"
                                                  th:text="${phuKien.nameProduct}">
                                                        </span></a>
                        <div th:if="${phuKien.price!=0}"><span
                                class="text-strike-through fs-6"> [(${phuKien.price})]<small
                                class="align-text-top">đ</small></span>
                        </div>
                        <div><span class="text-danger fs-6 fw-bold"
                        >[(${#numbers.formatDecimal(phuKien.reduceMoney,0,'COMMA',0,'POINT')})] <small
                                class="align-text-top">đ</small></span>
                        </div>
                        <div>
                            <span>[(${phuKien.point})]<i class='bx bxs-star' style='color:#fee500'></i>([(${phuKien.quantityEvalute})])</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-outline-secondary w-auto" id="loadMore">Xem thêm sản phẩm</button>
        </div>
    </section>
    <section class="mt-3">
        <div class="lh-base" style="text-align: justify">
            <h4 class="fw-bold">Mua phụ kiện chính hãng giá tại Big6Shop</h4>
            <p>
                Phụ kiện chính hãng giá rẻ có gì đặc biệt?
            </p>
            <p>
                Phụ kiện chính hãng là hàng được sản xuất bởi chính doanh nghiệp cung cấp hoặc do doanh nghiệp đối tác
                sản
                xuất theo hợp đồng đơn đặt hàng và được bán thông qua các kênh đại lý hoặc nhà phân phối. Những loại phụ
                kiện chính hãng này thường được làm giả rất nhiều do chất lượng phụ kiện cao tương ứng với giá thành
                tương
                đối max vì vậy nhiều nơi sẽ làm giả nhái sản phẩm và vẫn bán với mức giá đó nhằm thu được chênh lệch
                lớn.
                Phụ kiện giá rẻ được rất nhiều các người tìm kiếm, đặc biệt là các bạn trẻ, bởi nhu cầu sử dụng của
                những
                đối tượng này thường cao mà thị trường thì lại tràn lan hàng giả, hàng nhái, hàng kém chất lượng mà
                chúng
                lại được rao bán với giá thành cao so với chất lượng nó mang lại. Phụ kiện chính hãng giá rẻ mang lại
                cho
                người sử dụng những sản phẩm chất lượng vàng và phong cách hiện đại, bắt mắt và trẻ trung. Phụ kiện
                chính
                hãng cũng chính là những chiến lược kinh doanh mang đến cho khách hàng sự tiện dụng và trang bị một các
                tính
                năng bổ sung cho người dùng sản phẩm chính hãng của nhà sản xuất cũng chính là cách để thu hút khách
                hàng
                đến với nhãn hiệu nhiều hơn, bởi khách hàng nhận thấy họ sẽ được hưởng lợi nhiều hơn khi sử dụng nhãn
                hiệu
                đó.
            </p>
            <h4 class="fw-bold">
                Những ưu điểm của việc sử dụng phụ kiện chính hãng giá rẻ
            </h4>
            <p>
                Khi sử dụng phụ kiện chính hãng như: sạc, cáp, tai nghe, pin dự phòng… bạn sẽ luôn yên tâm vì : Sử dụng
                phụ
                kiện chính hãng bạn sẽ rất khó gặp phải trường hợp máy bị loạn cảm ứng trong quá trình sạc và sử dụng.
                Nguyên nhân của việc này là do những thiết bị không phải hàng chính hãng sẽ cho dòng điện ra bất ổn
                định,
                làm ảnh hưởng đến khả năng cảm ứng. Nếu nặng hơn có thể gây ra hiện tượng hỏng nguồn, máy đột ngột tắt
                đi,
                hoặc khi sạc thì máy lại không khởi động được. Nếu bạn tiếc tiền mà đi mua sạc hay cáp… không rõ xuất
                xứ,
                nguồn gốc, thì khi sử dụng sẽ gây ra tình trạng chập mạch củ sạc và dễ cháy nổ rất nguy hiểm. Dùng hàng
                chính hãng sẽ giúp thiết bị được sạc nhanh và sử dụng ổn định hơn, không gây ra tình trạng máy nóng
                nhưng
                pin chưa đầy, lâu dần sẽ làm ảnh hưởng đến tuổi thọ của pin và dễ làm pin bị chai nhanh chóng. Dùng hàng
                trôi nổi, bạn sẽ dễ rơi vào tình trạng kết nối giữa dây cáp và thiết bị khác chỉ diễn ra trong khoảng từ
                1
                đến 2 phút sau đó liền bị ngắt. Sử dụng phụ kiện chính hãng giá rẻ đối với tai nghe hay loa đều sẽ cho
                kết
                quả lâu bền hơn. Tai nghe có dây chính hãng giúp bạn tránh được tình trạng sử dụng mới vài tháng mà đã
                hỏng
                1 bên tai. Về phía tai nghe và loa không dây, nếu là hàng chính hãng chắc chắn sẽ giúp bạn kết nối ổn
                định
                hơn với thiết bị khác cùng khả năng truyền tải âm thanh rất tốt.
            </p>
        </div>
    </section>
    <section class="mt-4">
        <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 g-4">
            <div class="col text-center">
                <i class='bx bx-check-shield' style='color:#ff0202; font-size: 80px'></i>
                <h5 class="text-secondary">Sản phẩm chính hãng</h5>
            </div>
            <div class="col text-center">
                <i class='bx bx-phone-call' style='color:#ff0202; font-size: 80px'></i>
                <h5 class="text-secondary">Hotline hỗ trợ
                    1900.0101</h5>
            </div>
            <div class="col text-center">
                <i class='bx bx-repost' style='color:#ff0202;font-size: 80px'></i>
                <h5 class="text-secondary">Đổi trả dễ dàng</h5>
            </div>
        </div>
    </section>
</div>
<script>
    $("#loadMore").click(function () {
        var scrollPosition = window.scrollY || window.scrollTop || document.getElementsByTagName("html")[0].scrollTop;

        // gửi yêu cầu
        location.reload();
        window.onload = function () {
            window.scrollTo(0, scrollPosition);
        };
    })
</script>