<link rel="stylesheet" href="/admin/plugin/css/card-product.css">
<section>
    <img class="d-block w-100" src="/image/tv-xiaomi-thang-9-1200x200.jpg" alt="Second slide">
</section>
<div class="container-xl">
    <section class=" mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1">
                <li class="breadcrumb-item">
                    <a href="/client">Trang chủ</a>
                </li>
                <li class="breadcrumb-item active">Tivi</li>
            </ol>
        </nav>
        <div class="row row-cols-1 row-cols-md-5 row-cols-sm-2 g-4">
            <div class="col" th:each="tivi,Stat:${listTivi}">
                <div class="card h-100 item-product">
                    <div class="card-body mb-4 mt-3">
                        <img class="img-fluid d-flex mx-auto my-4"
                             th:src="|/image/product/${tivi.image}|"
                             alt="Hình ảnh bị lỗi"/>
                        <a th:href="@{'/product/detail/'+${tivi.id}}"
                           class="stretched-link mb-2 text-black">
                                            <span class="fs-5  card-title"
                                                  th:text="${tivi.nameProduct}">
                                                        </span></a>
                        <div th:if="${tivi.price!=0}"><span class="text-strike-through fs-6 "> [(${tivi.price})]<small
                                class="align-text-top">đ</small></span>
                        </div>
                        <div><span class="text-danger fs-6 fw-bold"
                        >[(${#numbers.formatDecimal(tivi.reduceMoney,0,'COMMA',0,'POINT')})] <small
                                class="align-text-top">đ</small></span>
                        </div>
                        <div>
                            <span>[(${tivi.point})]<i class='bx bxs-star' style='color:#fee500'></i>([(${tivi.quantityEvalute})])</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-outline-secondary w-auto" id="loadMore">Xem thêm sản phẩm</button>
        </div>
    </section>
    <section class="mt-3">
        <div class="lh-base" style="text-align: justify">
            <h4 class="text-center fw-bold">Smart TV - lựa chọn của người dùng hiện đại</h4>
            <p>
                Những năm gần đây, smart Tivi ngày càng trở nên phổ biến với người dùng Việt Nam. Với khả năng kết nối
                với
                nguồn giải trí khổng lồ và hỗ trợ rất nhiều tiện ích, smart tivi là sự lựa chọn thay thế cho những chiếc
                tivi truyền thống thông thường. Ngoài ra, các mẫu tivi thông minh còn có thiết kế hiện đại, mẫu mã đa
                dạng,
                có thể sử dụng như một đồ vật trang trí độc đáo trong căn phòng của bạn. Hiểu được nhu cầu của người
                dùng,
                các nhà sản xuất cũng không ngừng cải tiến công nghệ, mang thế giới đến gần hơn với mọi người qua một
                chiếc
                màn hình.
            </p>
            <p>
                Các mẫu Smart TV có kích thước màn hình đa dạng từ 35 inch đến 65 inch để bạn tùy chọn theo không gian
                của
                căn phòng. Người dùng có thể lựa chọn các mẫu tivi thông minh từ nhiều nhà sản xuất uy tín như Xiaomi,
                Samsung,... để có thể trải nghiệm hoạt động giải trí với chất lượng tốt nhất.

            </p>
            <h4 class="fw-bold">
                Thiết kế mỏng nhẹ, sang trọng, mang cả thế giới đa sắc màu vào căn phòng
            </h4>
            <p>
                Hầu hết các mẫu tivi thông minh hiện đại đều được thiết kế rất mỏng và nhẹ để nâng cao tính di dộng,
                linh
                hoạt.
                Người dùng có thể sử dụng chân đế đi kèm để đặt tivi trên những chiếc kệ trong phòng, hoặc có thể treo
                nó
                lên
                tường để tiếp kiệm không gian. Một số mẫu smart tivi còn đi kèm với các loại chân đế độc đáo cho người
                dùng
                lựa
                chọn. Smart tivi thường có phần viền màn hình khá mỏng, trừ một số mẫu lấy cảm hứng thiết kế từ khung
                tranh,
                do
                đó nó có thể dùng như một đồ vật trang trí, tôn lên vẻ đẹp sang trọng cho căn phòng của bạn.
            </p>
            <p>
                Khi lựa chọn các mẫu tivi, người dùng rất quan tâm đến chất lượng hiển thị của màn hình. Hiểu được nhu
                cầu
                đó,
                các nhà sản xuất đã trang bị cho sản phẩm của mình các tấm nền hiện đại, cho chất lượng hiển thị hình
                ảnh
                full
                HD đến 4K và độ tương phản tốt. Nhờ đó, người dùng có thể chiêm ngưỡng các hình ảnh trong tivi với độ
                chân
                thực
                cao nhất, rực rỡ và sống động vô cùng. Các tivi viền mỏng còn giúp tối đa không gian hiển thị nội dung,
                mang
                cả
                thế giới muôn màu vào căn phòng của bạn.
            </p>
            <h4 class="fw-bold">
                Điều khiển thông minh tiện lợi, đa dạng các nội dung giải trí hấp dẫn
            </h4>
            <p>
                Một trong những ưu điểm lớn nhất của các mẫu tivi thông minh chính là khả năng kết nối với kho giải trí
                khổng
                lồ. Người dùng có thể thỏa sức truy cập vào các bộ phim, hàng nghìn video từ các ứng dụng, nền tảng giải
                trí.
                Ngoài ra, bạn cũng có thể kết nối giữa tivi và điện thoại một cách dễ dàng để xem thêm các nội dung trên
                màn
                hình lớn.
            </p>
            <p>
                Các mẫu tivi thông minh còn được trang bị các tính năng hỗ trợ như tìm kiếm bằng giọng nói, kết nối với
                trợ
                lý
                ảo để thực hiện các tác vụ, điều khiển dễ dàng hơn. Nó cũng có thể sử dụng cùng các thiết bị khác qua
                kết
                nối
                Bluetooth ổn định, đảm bảo nội dung sẽ hiển thị rõ nét, không có hiện tượng giật lag, mờ nhòe. Nhìn
                chung,
                các
                mẫu smart tivi có thể đáp ứng được nhu cầu giải trí đa dạng của mọi lứa tuổi từ trẻ nhỏ đến người lớn,
                người
                cao
                tuổi với kho nội dung khổng lồ.
            </p>
        </div>
    </section>
    <section class="mt-4">
        <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 g-4">
            <div class="col text-center">
                <i class='bx bx-check-shield' style='color:#ff0202; font-size: 80px'></i>
                <h5 class="text-secondary">Sản phẩm chính hãng</h5>
            </div>
            <div class="col text-center">
                <i class='bx bx-phone-call' style='color:#ff0202; font-size: 80px'></i>
                <h5 class="text-secondary">Hotline hỗ trợ
                    1900.0101</h5>
            </div>
            <div class="col text-center">
                <i class='bx bx-repost' style='color:#ff0202;font-size: 80px'></i>
                <h5 class="text-secondary">Đổi trả dễ dàng</h5>
            </div>
        </div>
    </section>
</div>

<script>
    $("#loadMore").click(function () {
        var scrollPosition = window.scrollY || window.scrollTop || document.getElementsByTagName("html")[0].scrollTop;

        // gửi yêu cầu
        location.reload();
        window.onload = function () {
            window.scrollTo(0, scrollPosition);
        };
    })
</script>