<style>.footer-link {
    color: #ffffff !important;
}

.bg-black {
    background-color: black !important;
}
</style>
<footer class="content-footer footer bg-footer-theme bg-black text-white">
    <div class="container-fluid pt-5 pb-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0">
                <h4 class="fw-bold mb-3">
                    <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/html/vertical-menu-template"
                       target="_blank" class="footer-text"><img src="/image/logochuan-05.png" class="w-px-200"> </a>
                </h4>        <span>Get ready for better world</span>
                <div class="social-icon my-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-facebook"><i
                            class='bx bxl-facebook'></i></a>
                    <a href="javascript:void(0)" class="ms-2 btn btn-icon btn-sm btn-twitter"><i
                            class='bx bxl-twitter'></i></a>
                    <a href="javascript:void(0)" class="ms-2 btn btn-icon btn-sm btn-linkedin"><i
                            class='bx bxl-linkedin'></i></a>
                    <a href="javascript:void(0)" class="ms-2 btn btn-icon btn-sm btn-github"><i
                            class='bx bxl-github'></i></a>
                </div>
                <p class="pt-4">
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    © ThemeSelection
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-0">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">About</a></li>
                    <li>
                        <a href="javascript:void(0)" class="footer-link d-block pb-2">Career <span
                                class="badge bg-label-primary text-capitalize">We're hiring</span></a>
                    </li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Blog</a></li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Customers</a></li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Hire us</a></li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">FAQs</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0">
                <h5>Products</h5>
                <ul class="list-unstyled">
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Admin Template</a></li>
                    <li>
                        <a href="javascript:void(0)" class="footer-link d-block pb-2">UI Kit</a>
                    </li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Styleguide</a></li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">API</a></li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Documentation</a></li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Changelog</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <h5>Features</h5>
                <ul class="list-unstyled">
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Affiliate Program</a></li>
                    <li>
                        <a href="javascript:void(0)" class="footer-link d-block pb-2">Integration</a>
                    </li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Support</a></li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Special Offers</a></li>
                    <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Page Builder</a></li>
                    <li><a href="https://themeselection.com/license/" class="footer-link me-4"
                           target="_blank">License</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>