<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Big6 Shop</title>

    <meta name="description" content=""/>
    <link rel="icon" type="image/x-icon" th:href="@{/image/logobig6-03.png}"/>

    <link rel="stylesheet" th:href="@{/admin/assets/vendor/fonts/boxicons.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/css/theme-default.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/demo.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/vendor/css/pages/page-auth.css}"/>
    <script th:src="@{/admin/assets/vendor/js/helpers.js}"></script>
</head>
<body>
<!-- Content -->
<div class="header">
    <nav class="header-navbar">
        <ul class="header-nav-list">
            <li class="header-nav-item">Hệ thống cửa hàng tivi</li>
            <li class="header-nav-item">
                <a class="header-nav-item-link" href="/">LOGO</a>
            </li>
        </ul>

        <ul class="header-nav-list">
            <li class="header-nav-item">
                <a href="#" class="header-nav-item-link">HỎI ĐÁP</a>
            </li>
            <li class="header-nav-item">
                <a href="/" class="header-nav-item-link">QUAY LẠI</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Forgot Password -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center text-center ">
                        <a href="" class="app-brand-link gap-2">
                         <span class="app-brand-logo demo">
                             <img th:src="@{/image/logobig6-03.png}" type="icon" class="w-px-100">
                         </span>
                            <span  class="app-brand-text demo text-body fw-bolder">Big6store</span>
                        </a>
                    </div>
                    <h4 class="mb-2">Bạn gặp vấn đề về mật khẩu ?</h4>
                    <p class="mb-4">
                        Nhập email của bạn và chúng tôi sẽ gửi thông tin mật khẩu mới
                    </p>
                    <form
                            id="formAuthentication"
                            class="mb-3"
                            action="index.html"
                            method="POST"
                    >
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    placeholder="Nhập email"
                                    autofocus
                            />
                        </div>
                        <button class="btn btn-primary d-grid w-100">
                            Send Reset Link
                        </button>
                    </form>
                    <div class="text-center">
                        <a
                                href="/login"
                                class="d-flex align-items-center justify-content-center"
                        >
                            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                            Quay lại đăng nhập
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Forgot Password -->
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-text">
        Bạn gặp khó khăn gì khi đăng nhập, đăng ký ?Gọi
        <span><a href="/hotro" class="sdt">1800 1008</a></span> để được hỗ trợ
        nhanh nhất.
    </div>
</div>

</body>
</html>
